<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title>sAndy (Vue)todoList</title>
  </head>
  <body>
    <div id="app">
      <!-- {{reminderList}} -->
      <!-- 切換狀態的nav -->
      <header
        :class="[{'background_darkmode':isDarkMode},{header_darkmode:isDarkMode}]"
      >
        <nav class="nav">
          <a
            :class="['nav_item',{active:currentPage.isMyTask},{text_darkmode:isDarkMode}]"
            href="##"
            @click="switchPage('My Task')"
            >My Task</a
          >
          <a
            class="nav_item progress"
            :class="['nav_item','progress',{active:currentPage.isInProgress},{text_darkmode:isDarkMode}]"
            href="##"
            @click="switchPage('In Progress')"
            >In Progress</a
          >
          <a
            class="nav_item"
            :class="['nav_item','completed',{active:currentPage.isCompleted},{text_darkmode:isDarkMode}]"
            href="##"
            @click="switchPage('Completed')"
            >Completed</a
          >
          <button
            :class="['mode_button',{button_darkmode:isDarkMode}]"
            @click="switchMode"
          >
            <i class="far fa-sun" v-show="isDailyMode"></i>
            <i class="far fa-moon" v-show="isDarkMode"></i>
            mode
          </button>
        </nav>
      </header>
      <main :class="[{'background_darkmode':isDarkMode}]">
        <div class="container">
          <!-- 顯示下拉表單 -->
          <div class="addtask_container">
            <button
              :class="[{'background_darkmode':isDarkMode},{text_darkmode:isDarkMode}]"
              class="addtask"
              type="button"
              @click="showMenu"
            >
              + Add Task
            </button>
            <form class="edit_content" v-if="isShow">
              <div
                class="addtask_list"
                :class="{hightlight_background:newTodo.isMarked}"
              >
                <div class="addtask_list_content">
                  <input type="checkbox" class="check_input" />
                  <input
                    type="text"
                    class="addtask_list_input"
                    placeholder="Type Something Here..."
                    v-model="newTodo.title"
                  />
                  <div class="addtask_list_icon">
                    <a
                      class="addtask_list_marked"
                      href="##"
                      @click="addStarIcon(this.newTodo,$event)"
                      ><i class="far fa-star star_icon"></i
                    ></a>
                    <a class="addtask_list_edit" href="##">
                      <i class="fa-fw fas fa-pen pencil"></i>
                    </a>
                  </div>
                </div>
              </div>
              <section class="addtask_content">
                <div class="time">
                  <span>
                    <i class="far fa-calendar-alt"></i>
                    Deadline
                  </span>
                  <div class="time_inputbox">
                    <input type="date" v-model="newTodo.date" />
                    <input type="time" />
                  </div>
                </div>
                <div class="file">
                  <span>
                    <i class="fas fa-file-word"></i>
                    File
                  </span>
                </div>
                <div class="comment">
                  <span> <i class="far fa-comment-dots"></i> Comment </span>
                  <textarea
                    name=""
                    id=""
                    cols="20"
                    rows="10"
                    placeholder="input your note:"
                    v-model="newTodo.comment"
                  ></textarea>
                </div>
              </section>
              <div class="confirm_buttonbox">
                <button type="reset" class="button_cancel" @click="showMenu">
                  X Cancel
                </button>
                <button
                  :class="['button_save',{background_darkmode:isDarkMode}]"
                  @click="createReminder"
                >
                  + Add Task
                </button>
              </div>
            </form>
          </div>
          
          <!-- 根據切換的頁面，決定是誰 -->
          <component :is="nowPage" />
        </div>
      </main>
    </div>
  </body>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./Js/main.js" type="module"></script>
  <style>
    /* todo's effect */
    .star_color {
      color: #f5a623;
    }
    .hightlight_background {
      background-color: #fff2dc;
    }
    .pencil_edited {
      color: #4a90e2;
    }
    .todo_finished {
      text-decoration: line-through;
    }

    /* dark mode */
    .background_darkmode {
      background-color: black !important;
    }
    .header_darkmode {
      border-bottom: 1px solid white;
    }
    .mode_button {
      height: 50px;
      width: 50px;
      align-self: center;
      border-radius: 20px;
    }
    .text_darkmode {
      color: gray;
    }
    .button_darkmode {
      background-color: rgb(218, 215, 67);
      border: 1px solid white !important;
    }
  </style>
</html>
