@use "../base/colors" as *;
@use "../base/fonts" as *;
@use "../base/breakpoints" as *;

//筆的樣式
.star_icon,
.pencil {
  color: black;
}
.addtask {
  margin-bottom: 20px;
}

.edit_content {
  margin-bottom: 20px;
}

.addtask_content {
  display: flex;
  flex-direction: column;

  // padding: 32px 40px;
  background-color: $gray-100;
  gap: 15px;

  padding: 24px 50px;

  @include breakpoints($pad-size) {
    // padding: 32px 70px;
  }
  //title
  span {
    margin-bottom: 5px;
    display: block;
    font-weight: 600;

    .fa-file-word::before {
      margin-right: 5px;
    }
    .fa-calendar-alt::before {
      margin-right: 5px;
    }
  }
}
.time {
  &_inputbox {
    margin-left: 20px;
  }
}

.comment {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    width: 90%;
    margin: 0 auto;
  }
}

.confirm_buttonbox {
  display: flex;
  button {
    width: 50%;
    padding: 15px;
    border: 0;
    @include fonts-set(18px, $subtitle-weight, $subtitle-style);
    @include breakpoints($pad-size) {
      @include fonts-set($title-size, $subtitle-weight, $subtitle-style);
    }
  }
  .button_cancel {
    color: $cancel-color;
    background-color: #fff;
  }
  .button_save {
    background-color: $primary-color;
    color: #fff;
  }
}

.reminder_content_icon {
  display: flex;
  justify-content: flex-start;
  // justify-content: ;
  a {
    margin-top: 10px;
    margin-left: 45px;

    .calendar {
      font-style: inherit;
      font-weight: 300;
      color: black;

      width: 100%;
      ::before {
        margin-right: 5px;
      }
    }
    i.fa-calendar-alt::before {
      margin-right: 5px;
    }
  }
}
