// light mode
$primary-color: #4a90e2;
$secondary-color: #c8c8c8;
$cancel-color: #d0021b;

$gray-100: #f2f2f2;
$gray-200: #e1e1e1;
$gray-400: #757575;

$white: #ffff;
$black: #0000;

$font-color: #00408b;

//input
$done_color: #9b9b9b;

//reminder's content
$edit_color: #fff2dc;
$edit_icon: #f5a623;
