.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.todo_item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px auto;
    width: 70%;

    border: 1px solid white;
    border-radius: 7px;
}
.todo_item-title{
    font-size: 18px;
    flex-basis: 60%;
}

.todo_item-state button:hover{
    background-color: bisque;
}
.doing {
    font-weight: 700;
}
.done {
    text-decoration: line-through;
}
button {
    border-radius: 5px;
    font-weight: 500;
}