.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.todo_item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 80%;

    border: 1px solid white;
    border-radius: 20px;
}
.todo_item-title{
    font-size: 18px;
    flex-basis: 60%;
}

.todo_item-state button:hover{
    background-color: bisque;
}